/* Nivel 1 */
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
   grid-column-start: 3;
  };

  /* Nivel 2 */
  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #poison {
  grid-column-start: 5;
  };

  /* Nivel 3 */

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-column-start: 1;
        grid-column-end:4;
  };

  /* Nivel 4 */

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-column-start: 5;
       grid-column-end: -5;
  };

  /* Nivel 5 */

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-column-start: 1;
       grid-column-end:-2;
  };

  /* Nivel 6 */

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #poison {
  grid-column-start: -3;
  };

  /* Nivel 7 */

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-column-start: 2;
       grid-column-end: span 2;
  };

  /* Nivel 8 */

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-column-start: 1;
  grid-column-end: span 5;
  };

  /* nivel 9 */
   
  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  grid-column-start: span 3;
  grid-column-end: 6;
  
  
  };

  /* Nivel 10 */

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  grid-column: 4 / 6;
  };

  /* nivel 11 */

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  grid-column: span 3/5;
  };

  /* Nivel 12 */

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  grid-row-start: 3;
  };

  /* Nivel 13 */

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  grid-row: 3/6;
  };

  /* Nivel 14 */

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #poison {
  grid-column: 2;
  grid-row : 7/5
  
  };

  /* Nivel 15 */

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  grid-column: 2/6;
  grid-row: 1/6;
  };

  /* Nivel 16 */

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  grid-area: 1 / 2 / 4 / 6;
  
  };

  /* Nivel 17 */

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water-1 {
    grid-area: 1 / 4 / 6 / 5;
  }
  
  #water-2 {
  grid-area: 2/ 3/ 5 / 6;
  };

  /* Nivel 18 */

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  .water {
    order: 0;
  }
  
  #poison {
  order:2;
  };

   /* Nivel 19 */

   #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  .water {
    order: 0;
  }
  
  .poison {
  order: -1;
  };

   /* Nivel 20 */

   #garden {
    display: grid;
       grid-template-columns: 50% 50% 50% 50%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-column: 1;
    grid-row: 1;
  };

   
  /* Nivel 21 */
  
  #garden {
    display: grid;
       grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-column: 1;
    grid-row: 1;
  };

  /* Nivel 22 */
  
  #garden {
    display: grid;
        grid-template-columns: 100px 3em 40%;
       grid-template-rows: 20% 20% 20% 20% 20%;
  };

   /* Nivel 23 */

   #garden {
    display: grid;
       grid-template-columns: 1fr 5fr;
  grid-template-rows: 20% 20% 20% 20% 20%;
  };

   /* Nivel 24 */

   #garden {
    display: grid;
        grid-template-columns: 50px 1fr 1fr 1fr 50px;
  grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-area: 1 / 1 / 6 / 2;
  }
  
  #poison {
    grid-area: 1 / 5 / 6 / 6;
  };